// stylesheet for index.html
@import "./defs.scss";

h1 {
  @media screen and (max-width: $screen-width-mobile) {
    line-height: 1em;

    span {
      display: block;

      &:nth-child(2) {
        display: none;
      }
    }
  }
}

nav.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2em;
  margin: 0.3em 0;

  @media screen and (max-width: $screen-width-mobile) {
    grid-template-columns: 1fr;
  }
}