@import "./defs.scss";

$header-height: 40px;

body {
  margin: 0;
  padding-top: $header-height * 1.25;
  background-color: #FFFFFF;

  @media screen and (max-width: $screen-width-small) {
    font-size: 14px;
    line-height: 1.5em;
  }
  @media screen and (min-width: $screen-width-small) {
    font-size: 20px;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  background-color: #FFFFFF;
  margin: 0;
  box-shadow: $shadow-normal;

  a {
    color: $c-link-text;
  }

  > nav {
    height: 100%;

    > ul {
      height: 100%;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0 1em;
      align-items: center;
      font-family: 'Makinas-4-Flat';
      font-size: 0.8em;

      li {
        width: 100px;
        +li { border-left: 1px solid #B0B0B0; }
        text-align: center;
      }
    }
  }
}

h1 {
  text-align: center;
  font-family: 'Makinas-4-Flat';

  @include bottomSeparator {
    margin-top: 0.25em;
  };
}

body > main {
  margin: 8px;
  color: $c-text;

  a {
    color: $c-link-text;

    &:visited {
      color: $c-link-text-visited;
    }
  }

  > section {
    +section { margin-top: 1em; }
    @include normalShadowBoxRounded;

    padding: 0.5em 24px 1em;
    background-color: #FFFFFF;
    font-family: 'Kaisei Opti', serif;
    margin: 0 auto;
    background-color: transparent;
    text-align: center;

    $small-width-ratio: 0.8;
    $large-width-ratio: 0.6;
    @media screen and (max-width: $screen-width-small) {
      max-width: 100%;
    }

    @media screen and (min-width: $screen-width-small) and (max-width: $screen-width-large) {
      width: 100% * $small-width-ratio;
      max-width: $screen-width-large * $large-width-ratio;
    }
    @media screen and (min-width: $screen-width-large) {
      width: $screen-width-large * $large-width-ratio;
    }

    h2, h3 {
      font-family: 'Makinas-4-Flat';
      @include bottomSeparator;
    }
    h2 {
      font-size: 1.5em;
      margin-top: 0.3em;
    }
    h3 {
      font-size: 1.2em;
    }
  }
}

div.link-block {
  display: block;
  padding: 0.25em;
  text-align: center;
  font-family: 'Makinas-4-Flat';
  border: 1px solid $c-border;
  border-radius: $radius;

  > a {
    display: block;
    width: 100%;
    height: 100%;

    span.name, span.description {
      display: block;
    }

    span.description {
      color: $c-text;
      text-decoration: none;
    }
  }

  &:hover {
    background-color: $c-bg-hover;
  }
  &:active {
    background-color: $c-bg-active;
  }
}

a.gh-card {
  display: block;
}